<div class="page-container">
    <div class="fix-width">
        <div class="page-have-sidebar">
            <div class="page-wrap">
                <div class="breadcumb">
                    <a class="home" href="#">
                        <i class="fa fa-home">
                        </i>
                        Trang chủ
                    </a>
                    <span class="sep">
                    </span>
                    <a href="/<%= data.post.type.url %>.htm">
                        <%= data.post.type.name %>
                    </a>
                    <span class="sep">
                    </span>
                    <a href="/<%= data.post.type.url %>/<%= data.post.category.url %>.htm">
                        <%= data.post.category.name %>
                    </a>
                    <span class="sep">
                    </span>
                    <a href="#">
                        <%= data.post.name %>
                    </a>
                    <div class="clear">
                    </div>
                </div>
                <div class="single-blog-content">
                    <h1 class="title">
                        <%= data.post.name %>
                    </h1>
                    <div class="blog-detail">
                        <span class="date">
                            <i class="fa fa-calendar">
                            </i>
                            Cập nhật: <%= data.returnDate(data.post.crt) %>
                        </span>
                        <span class="views">
                            <i class="fa fa-bar-chart">
                            </i>
                            Lượt xem: <%= data.post.views %>
                        </span>
                        <div class="fontsize">
                            <label>
                                Cỡ chữ
                            </label>
                            <a class="plus-size" href="">
                                <i class="fa fa-plus-square">
                                </i>
                            </a>
                            <a class="minus-size" href="">
                                <i class="fa fa-minus-square">
                                </i>
                            </a>
                        </div>
                    </div>
                    <div class="single-content">
                        <%- data.post.content %>
                    </div>
                    <div class="blog-tags">
                    	<% for(var i in data.post.tags){ %>
                        <a href="">
                            <%= data.post.tags[i]%>
                        </a>
                        <% } %>
                    </div>
                    <div class="blog-action">
                        <a class="back" href="">
                            Về trang trước
                        </a>
                        <a class="totop" href="">
                            Lên đầu trang
                        </a>
                    </div>
                </div>
                <div class="comment-area">
                    <h3>
                        Danh sách bình luận (<%= data.comments.length %>):
                    </h3>
                    <ul class="comment-list">
                		<% for(var i in data.comments){ %>
                        <li>
                            <div class="item">
                                <p class="comment-author">
                                    <%= data.comments[i].comment.user.fullname %> - <%= data.comments[i].comment.user.username %>
                                </p>
                                <p class="comment-date">
                                    Gửi lúc: <%= data.returnDate(data.comments[i].comment.crt) %>
                                </p>
                                <div class="clear">
                                </div>
                                <div class="comment-text">
                                    <p>
                                        <%= data.comments[i].comment.content %>
                                    </p>
                                </div>
                            </div>
                            <button class="comment-reply" class="reply-comment" id="<%= data.comments[i]._id %>" onclick="add('<%= data.comments[i].comment._id %>')">
                                TRẢ LỜI
                            </button>
                            <script type="text/javascript">
                            	function add(id){
                            		document.getElementById('cid').value = id;
                            	}
                            </script>
                            <ul class="sub-comment">
                            	<% for(var a in data.comments[i].answers ){ %>
                                <li style="margin-bottom: 10px;">
                                    <div class="item">
                                        <p class="comment-author">
                                            <%= data.comments[i].answers[a].user.fullname %> - <%= data.comments[i].answers[a].user.username %>
                                        </p>
                                        <p class="comment-date">
                                            Gửi lúc: <%= data.comments[i].answers[a].crt %>
                                        </p>
                                        <div class="clear">
                                        </div>
                                        <div class="comment-text">
                                            <p>
                                                <%= data.comments[i].answers[a].content %>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <% } %>
                            </ul>
                        </li>
                        <% } %>
                    </ul>
                    <div class="clear">
                    </div>
                    <div class="comment-form-reply">
                        <h4>
                            Ý kiến bạn đọc:
                        </h4>
                        <form action="/comment/<%= data.post._id %>" method="post">
                        	<input type="text" name="cid" id="cid">
                            <div class="author-detail">
                                <input name="fullname" placeholder="Họ tên*" required="" type="text" id="fullname">
                                    <input name="email" placeholder="Email" type="email" id="email">
                                    </input>
                                </input>
                            </div>
                            <div class="author-comment">
                                <textarea cols="" placeholder="Nội dung bình luận" rows="" name="content" id="content">
                                </textarea>
                                <div class="comment-captcha">
                                    <input placeholder="Nhập mã bảo mật" type="text" id="secure">
                                    </input>
                                </div>
                                <div class="comment-action">
                                    <input type="submit" value="Gửi">
                                        <input type="reset" value="Hủy">
                                        </input>
                                    </input>
                                </div>
                            </div>
                            <div class="clear">
                            </div>
                        </form>
                        <script type="text/javascript">
                        	document.getElementById('cid').value = null;
                        	document.getElementById('fullname').value = null;
                        	document.getElementById('email').value = null;
                        	document.getElementById('content').value = null;
                        </script>
                    </div>
                </div>
                <div class="old-blogs">
                    <h4>
                        Các bài đã đăng
                    </h4>
                    <ul>
                        <% var a = 0; for(var n in data.posts){ if(data.posts[n].type._id == data.post.type._id){ a ++;%>
                        <li>
                            <a href="/bai-viet/<%= data.posts[n].url %>.htm">
                                <strong>
                                    ✔
                                </strong>
                                <%= data.posts[n].name %>
                                <span>
                                    (<%= data.posts[n].views %> lượt xem)
                                </span>
                            </a>
                        </li>
                        <% if(a == 7){break; }%>
                        <% } } %>
                    </ul>
                </div>
                
            </div>
            <div class="sidebar">
                <div class="sidebar-widget menu-widget">
                    <div class="widgettitle">
                        <h3>
                            Danh mục <%= data.post.type.name %>
                        </h3>
                    </div>
                    <div class="widgetcontent">
                        <ul>
                        	<% for(var c in data.categories){ if(data.categories[c].type._id == data.post.type._id){ %>
                            <li>
                                <a href="/<%= data.categories[c].type.url %>/<%= data.categories[c].url %>.htm">
                                    <%= data.categories[c].name %>
                                </a>
                            </li>
                            <% } } %>
                        </ul>
                    </div>
                </div>
                <div class="sidebar-widget">
                    <div class="widgettitle">
                        <h3>
                            Tin tức nổi bật
                        </h3>
                    </div>
                    <div class="widgetcontent">
                        <div class="list-blog-sidebar">
                            <% var a = 0; for(var i in data.posts){ if(data.posts[i].type._id == data.post.type._id){ a ++;%>
                            <div class="item">
                                <div class="thumbnail">
                                    <a href="/bai-viet/<%= data.posts[i].url %>.htm">
                                        <img src="<%= data.posts[i].img %>">
                                        </img>
                                    </a>
                                </div>
                                <div class="content">
                                    <a href="/bai-viet/<%= data.posts[i].url %>.htm">
                                        <%= data.posts[i].name %>
                                    </a>
                                </div>
                                <div class="clear">
                                </div>
                            </div>
                            <% if(a == 3){break; }%>
                            <% } } %>
                        </div>
                    </div>
                </div>
                <div class="sidebar-widget">
                    <div class="widgettitle">
                        <h3>
                            Thư viện hình ảnh
                        </h3>
                    </div>
                    <div class="widgetcontent">
                        <!-- Place somewhere in the <body> of your page -->
                        <div class="flexslider" id="slider">
                            <ul class="slides">
                                <li>
                                    <img src="images/blog/slide1.png"/>
                                </li>
                                <li>
                                    <img src="images/blog/slide1.png"/>
                                </li>
                                <li>
                                    <img src="images/blog/slide1.png"/>
                                </li>
                                <li>
                                    <img src="images/blog/slide1.png"/>
                                </li>
                                <!-- items mirrored twice, total of 12 -->
                            </ul>
                        </div>
                        <div class="flexslider controle-nav" id="carousel">
                            <ul class="slides">
                                <li>
                                    <div class="thumbnail">
                                        <img src="images/blog/slide1.png"/>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumbnail">
                                        <img src="images/blog/slide1.png"/>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumbnail">
                                        <img src="images/blog/slide1.png"/>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumbnail">
                                        <img src="images/blog/slide1.png"/>
                                    </div>
                                </li>
                                <!-- items mirrored twice, total of 12 -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="sidebar-widget">
                    <div class="widgettitle">
                        <h3>
                            Thư viện video
                        </h3>
                    </div>
                    <div class="widgetcontent">
                        <div class="videoslide">
                            <div class="video-iframe">
                                <iframe>
                                </iframe>
                            </div>
                            <div class="video-list">
                                <ul>
                                    <li class="current">
                                        <a href="bM7SZ5SBzyY">
                                            <i class="fa fa-video-camera">
                                            </i>
                                            Phóng sự báo cáo kết quả đại hội IX Báo Tuyển sinh
                                        </a>
                                    </li>
                                    <li>
                                        <a href="FjNdYp2gXRY">
                                            <i class="fa fa-video-camera">
                                            </i>
                                            Hội sinh viên Việt Nam vươn tầm ra thế giới, gắn chặt tình đoàn kết
                                        </a>
                                    </li>
                                    <li>
                                        <a href="jK2aIUmmdP4">
                                            <i class="fa fa-video-camera">
                                            </i>
                                            Tổng kết nhiệm vụ - kết quả Quý III năm 2014 trong hoạt động Hội sinh viên Việt Nam
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar-widget">
                    <div class="widgettitle">
                        <h3>
                            Thăm dò ý kiến
                        </h3>
                    </div>
                    <div class="widgetcontent rate-form">
                        <p>
                            <strong>
                                Bạn thấy website trình bày có hợp lý và đẹp mắt không?
                            </strong>
                        </p>
                        <form method="post" action="" class="form-vote">
                            <label>
                                <input type="radio" value="4" name="rate">
                                    Rất tuyệt vời
                                
                            </label>
                            <label>
                                <input type="radio" value="3" name="rate">
                                    Chuyên nghiệp
                                
                            </label>
                            <label>
                                <input type="radio" value="2" name="rate">
                                    Bình thường
                                
                            </label>
                            <label>
                                <input type="radio" value="1" name="rate">
                                    Kém
                                
                            </label>
                            <input type="submit" value="Bình chọn" class="submit-btn submit-form">
                            <a id="xemkq" class="submit-btn result-form">
                                Xem kết quả
                            </a>
                        </form>

                    </div>
                </div>
                <!-- sidebar adv -->
                <div class="sidebar-widget">
                    <div class="thumbnail">
                        <a href="">
                            <img src="images/adv/6.png">
                            </img>
                        </a>
                    </div>
                </div>
                <div class="sidebar-widget">
                    <div class="thumbnail">
                        <a href="">
                            <img src="images/adv/7.png">
                            </img>
                        </a>
                    </div>
                </div>
                <div class="sidebar-widget">
                    <div class="thumbnail">
                        <a href="">
                            <img src="images/adv/8.png">
                            </img>
                        </a>
                    </div>
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
</div>
