<div class="page-container">
                <div class="fix-width">
                    <div class="page-have-sidebar">
                        <div class="page-wrap">
                            <div class="breadcumb">
                                <a class="home" href="#">
                                    <i class="fa fa-home">
                                    </i>
                                    Trang chủ
                                </a>
                                <span class="sep">
                                </span>
                                <a href="#">
                                   Tài khoản
                                </a>
                                <span class="sep">
                                </span>
                                <a href="#">
                                    Thay đổi thông tin cá nhân
                                </a>
                                <div class="clear">
                                </div>
                            </div>
                            <div class="single-blog-content">
                                <h1 class="title">
                                    Thông tin cá nhân
                                </h1> 
                            </div>
                            <%= JSON.stringify(user) %>
                            <form method="post" action="/profile/update" class="profile">
                            	<table>
                                	<tr>
                                    	<td>Họ</td>
                                        <td><input name="firstname" type="text" value="<%= user.firstname %>"><span> (*)</span></td>
                                    </tr>
                                    <tr>
                                        <td>Tên</td>
                                        <td><input name="lastname" type="text" value="<%= user.lastname %>"><span> (*)</span></td>
                                    </tr>
                                    <tr>
                                    	<td>Email</td>
                                        <td><input name="email" type="text" value="<%= user.email %>"></td>
                                    </tr>
                                    <tr>
                                    	<td>Ngày sinh</td>
                                        <td>
                                            <input type="text" name="birth" value="<%= user.birth %>">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Giới tính</td>
                                        <td>
                                            <input name="gender" type="radio" value="1"> Nam  &nbsp; &nbsp;
                                            <input name="gender" type="radio" value="0"> Nữ
                                        </td>
                                    </tr>
                                    <tr>
                                    	<td>Địa chỉ</td>
                                        <td><input name="province" type="text" value="<%= user.province %>"><span> (*)</span></td>
                                    </tr>
                                    <tr>
                                    	<td>Thành phố</td>
                                        <td>
                                        
                                        <select name="">
                                                <option>Hà Nội</option>
                                                <option>Hà Nội</option>
                                                <option>Hà Nội</option>
                                          </select>
                                         Quận huyện  
                                          <select name="">
                                                <option>Thanh Xuân</option>
                                                <option>Thanh Xuân</option>
                                                <option>Thanh Xuân</option>
                                            </select>
                                        
                                        </td>
                                    </tr>
                                    <tr>
                                    	<td>Điện thoại</td>
                                        <td><input name="phone" type="text" value="<%= user.phone %>"><span> (*)</span></td>
                                    </tr>
                                    <tr>
                                    	<td></td>
                                        <td>Lưu ý có dấu <span>(*)</span> là bắt buộc điền thông tin</td>
                                    </tr>
                                    <tr>
                                    	<td></td>
                                        <td><button type="submit">CẬP NHẬT</button>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <div class="sidebar">
                            <div class="sidebar-widget menu-widget">
                                <div class="widgettitle">
                                    <h3>
                                       Quản lí tài khoản
                                    </h3>
                                </div>
                                <div class="widgetcontent">
                                    <ul>
                                        <li>
                                            <a href="">
                                                Thay đổi thông tin cá nhân
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                Thay đổi mật khẩu
                                            </a>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="clear">
                        </div>
                    </div>
                </div>
            </div>